/* ------------button-------------*/
.button {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding-left: 35px;
  padding-right: 35px;
  height: 44px;
  color: var(--dark-pink-color);
  background-color: var(--white-color);
  border: none;
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.button__label-header {
}
.button__label-header::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 8px;
  background-image: url(../img/svg/arrow1.svg);
  background-size: 10px 10px;
}
.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  color: var(--dark-pink-color);
  transition: all 0.3s ease 0s;
}
.button:focus,
.button:active,
.button:hover {
  color: var(--white-color);
  background-color: var(--dark-pink-color);
}

.button:focus .button__label-header::after,
.button:active .button__label-header::after,
.button:hover .button__label-header::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 8px;
  background-image: url(../img/svg/arrow2.svg);
  background-size: 10px 10px;
}
/*----------------button- end-------------*/

/*----------------dark-button--------------*/
.button-dark {
  color: var(--white-color);
  background-color: var(--dark-pink-color);
  transition: all 0.4s ease 0s;
  z-index: 5;
}
.button__label-dark:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 8px;
  background-image: url(../img/svg/arrow2.svg);
  background-size: 10px 10px;
  transition: all 0.4s ease 0s;
  z-index: 5;
}
.button-dark:focus,
.button-dark:active,
.button-dark:hover {
  color: var(--dark-pink-color);
  background-color: var(--white-color);
}

.button-dark:focus .button__label-header::after,
.button-dark:active .button__label-header::after,
.button-dark:hover .button__label-header::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 8px;
  background-image: url(../img/svg/arrow1.svg);
  background-size: 10px 10px;
}

/*----------------dark-button- end-------------*/
@media screen and (max-width: 767px) {
  .button {
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    color: var(--dark-pink-color);
    background-color: var(--white-color);
    border: none;
    border-radius: 22px;
    text-align: center;
    cursor: pointer;
  }
  .button__label-header::after {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left: 8px;
    background-image: url(../img/svg/arrow1.svg);
    background-size: 8px 8px;
  }
  .button:focus .button__label-header::after,
  .button:active .button__label-header::after,
  .button:hover .button__label-header::after {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left: 8px;
    background-image: url(../img/svg/arrow2.svg);
    background-size: 8px 8px;
  }
  .button-dark {
    color: var(--white-color);
    background-color: var(--dark-pink-color);
    transition: all 0.4s ease 0s;
    z-index: 5;
  }
  .button__label-dark:after {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left: 8px;
    background-image: url(../img/svg/arrow2.svg);
    background-size: 8px 8px;
    transition: all 0.4s ease 0s;
    z-index: 5;
  }
  .button-dark:focus .button__label-header::after,
  .button-dark:active .button__label-header::after,
  .button-dark:hover .button__label-header::after {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left: 8px;
    background-image: url(../img/svg/arrow1.svg);
    background-size: 8px 8px;
  }
  .hero__button {
    margin-bottom: 15px;
    width: 152px;
  }
}
